# ===============================
# Archivos de sesión y entorno de R
# ===============================
.RData
.RDataTmp
.Rhistory
.Rapp.history
.Renviron
.Ruserdata

# ===============================
# Archivos específicos de usuario
# ===============================
.httr-oauth
rsconnect/

# ===============================
# Archivos de proyectos de RStudio
# ===============================
*.Rproj
.Rproj.user/

# ===============================
# Archivos de construcción de paquetes
# ===============================
*-Ex.R
/*.tar.gz
/*.Rcheck/

# ===============================
# Vignettes y documentación
# ===============================
vignettes/*.html
vignettes/*.pdf
docs/

# ===============================
# Archivos temporales de knitr y R Markdown
# ===============================
*_cache/
/cache/
*.utf8.md
*.knit.md

# ===============================
# Archivos de datos pesados
# ===============================
*.rds
*.csv

# ===============================
# Archivos de imagen y salida
# ===============================
*.png
*.jpg
*.jpeg
*.html
*.pdf

# ===============================
# Archivos temporales de traducción
# ===============================
po/*~
